Bilder/
_minted-*

*.aux
*.log
*.acr
*.acn
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.cls
*.fls
*.glo
*.glg
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lot
*.nlo
*.nls
*.sty
*.toc
*.upb
*.upa
*.xdy
*.xml
*.gz
*.log
*.out

*.dvi
*.out.ps